- content_for("account-yet") do
  Don't have an account yet? #{link_to "Sign up", signup_path}

.row
  .columns.large-5.large-centered
    = form_tag sessions_path do
      .field
        = label_tag :email
        = text_field_tag :email, params[:email], placeholder: 'Email', autofocus: true
      .field
        = label_tag :password
        = password_field_tag :password, nil, placeholder: 'Password'
      .row
        .columns.large-6
          -# = label_tag :remember_me do
          -#   = check_box_tag :remember_me, 1, params[:remember_me]
          -#   Remember Me

        .columns.large-6.text-right
          .actions= submit_tag "Sign in", class: 'button'
