= content_tag_for :tr, claim do
  %td= claim.user
  %td= claim.details
  %td= claim.created_at.stamp("11th Dec 2012")
  %td
    - if claim.can_approve?
      = link_to "Approve", approve_lab_claim_path(claim.lab, claim), method: 'patch'
      = link_to "Remove", lab_claim_path(claim.lab, claim), method: 'delete'
    - else
      Approved
