%fieldset
  %legend= fa_icon "building", text: "Lab Details"
  .row.collapse
    .large-8.columns
      = f.input :name, label: 'Fab Lab Name'

      .input
        = f.label :avatar, "Picture"
        - if f.object.avatar.present?
          = image_tag f.object.avatar, width: 100
        = f.input_field :avatar, :type => "filepicker-dragdrop", :value => f.object.avatar
        %span.hint This will be a small square image sometimes displayed next to the lab name on the site

    .large-3.columns
      = f.input :kind, collection: Lab::Kinds.each_with_index.map{|m, index| [m.humanize.titleize, index]}, hint: "If you are unsure, leave this blank"

  = f.input :description, hint: "A brief overview of your Fab Lab", input_html: { rows: 5 }

  .row.collapse
    .columns.large-7
      = f.input :urls, placeholder: "e.g. http://twitter.com/fablabx", label: "Website URLs", hint: "Any websites for your fablab, enter one website URL per line", input_html: { rows: 4 }

  .row
    .columns.large-6
      = f.input :email, hint: "A general enquiries email address for your Fab Lab"
    .columns.large-6
      = f.input :phone, label: "Phone Number", hint: "A general enquiries phone number for your Fab Lab", placeholder: "e.g. +34 (0)1234 56789", input_html: { data: {geo: "international_phone_number"}}