%fieldset
  %legend= fa_icon "time", text: "Opening Hours"
  %table
    %tbody
      - [1,2,3,4,5,6,0].each_with_index do |index,count|
        %tr
          %th= I18n.t('date.day_names')[index]
          %td.hide-if-closed= bitmask_time_input "#{I18n.t('date.day_names')[index].downcase}_opens_at", index, (9.hours unless count > 4)
          %td.hide-if-closed.text-center
            %span to
          %td.hide-if-closed= bitmask_time_input "#{I18n.t('date.day_names')[index].downcase}_closes_at", index, (17.hours unless count > 4)
          %td
            = label_tag do
              = check_box_tag :Closed, "", (count > 4), class: 'closed'
              Closed
          %td
            - if index == 1
              = link_to "Apply to All ↓", "#"

  = f.input :opening_hours_notes, hint: "Any additions to the above", placeholder: "e.g. Closed on the first monday of each month"
