%fieldset#opening-hours
  %legend= fa_icon "time", text: "Opening Hours"

  %p.hint Click and drag on the cells below to change your opening hours. If you are open 24 hours, then select and entire row.

  %table
    %thead
      %tr
        %th
        - 49.times do |index|
          %th
            %span.time= Time.at((index-2) * (index == 48 ? 1799 : 1800)).strftime("%H:%M")

    - 7.times do |day_index|
      %tr
        %th= I18n.t('date.abbr_day_names')[day_index]
        - 49.times do |index|
          %td.time-picker
            = label_tag do
              = check_box_tag 'opening_hours[]', (index + (49 * day_index)), (f.object.opening_hours.include? (index + (49 * day_index)))

  -# %table.opening-hours-chooser
  -#   %tbody
  -#     - [1,2,3,4,5,6,0].each_with_index do |index,count|
  -#       %tr
  -#         %th= I18n.t('date.abbr_day_names')[index]
  -#         %td
  -#           = f.input_field :thing, collection: %w(open_from 24hr closed), default: 'open_from', class: 'open_type', style: 'width: 90px'

  -#           -# = label_tag do
  -#           -#   = radio_tag :Closed, "", (count > 4), class: 'closed'
  -#           -#   Closed
  -#         %td= time_input :opening_time, (9.hours unless count > 4), class: 'hide-if-closed'
  -#         %td.text-center.hide-for-small
  -#           %span.hide-if-closed to
  -#         %td= time_input :closing_time, (17.hours unless count > 4), class: 'hide-if-closed'

  -#         -# %td.hide-for-small
  -#         -#   - if index == 1
  -#         -#     = link_to "Apply to All ↓", "#", id: 'apply-to-all'

  -# = f.input :opening_hours_notes, hint: "Any additions to the above", placeholder: "e.g. Closed on the first monday of each month"
