%fieldset#facilities
  %legend= fa_icon "cogs", text: "Facilities"
  = f.association :facilities, as: 'check_boxes', inline_label: true, item_wrapper_class: 'checkbox_container', label: false

%fieldset#tools
  %legend= fa_icon "wrench", text: "Lab Equipment"
  = f.simple_fields_for :tools do |tool|
    = render 'backstage/labs/tool_fields', :f => tool
  .links.text-right
    = link_to_add_association f, :tools, partial: 'backstage/labs/tool_fields', class: 'button small' do
      = fa_icon "plus"
      Add another tool
