.row
  .columns.large-12
    = title "Change Your Password"
    = simple_form_for @user, url: update_password_user_url(@user), method: "PATCH" do |f|

      = render "errors_for", resource: @user

      = f.input :current_password
      = f.input :password, label: "New Password"
      = f.input :password_confirmation, label: "New Password Confirmation"
      = f.submit "Change Password", class: 'button'
