.row
  .columns.large-12
    %h1 Complete your Registration

    = simple_form_for @user, url: register_user_path(@user) do |f|
      = render "errors_for", resource: @user

      %fieldset
        = f.label :first_name, "Name"
        = f.input_field :first_name
        = f.input_field :last_name

        = f.input :email

        = f.input :password

      = f.submit "Finish Registration", class: 'button'
