.row

  .columns.large-3
    = cropped_image_tag @user.avatar_image, "200x200"

    %h1.user= @user.full_name

    = link_to edit_user_path(@user), class: 'button' do
      = fa_icon "edit"
      Edit Profile

    - if @user.bio.present?
      .bio= simple_format @user.bio

    - if @user.location.present?
      .location= fa_icon "map-marker", text: @user.location

    - if @user.public_email.present?
      %p.email
        = fa_icon "envelope-alt"
        = mail_to @user.public_email

    - if @user.url.present?
      %p.home
        = fa_icon "home"
        = auto_link @user.url

    %ul
      - @user.humans.each do |human|
        %li
          = link_to human.lab, human.lab
          = human.details


  -# .columns.large-6
  -#   %h4 Labs
  -#   - @labs.each do |lab|
  -# .columns.large-6
  -#   %h4 Comments (10)
  -#   %ul.comments
  -#     %li Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,

  -# .columns.large-3
  -#   %h4 Badges (10)

  -#   %ul.badges.small-block-grid-2
  -#     %li
  -#       .badge Fab Academy Student
  -#     %li
  -#       .badge Fab 9 Attendee


