.row
  .columns.large-12
    .panel
      = search_form_for [:backstage, @q], builder: SimpleForm::FormBuilder do |f|
        .row
          .columns.large-8
            = f.input :first_name_or_last_name_cont, label: "Name"
          .columns.large-4
            = f.submit "Search", class: 'button expand'

.row
  .columns.large-12
    %table
      %thead
        %tr
          %th.id= sort_link @q, :id
          %th
            = sort_link @q, :first_name, "First"
            = sort_link @q, :last_name, "Last"
          %th= sort_link @q, :email
          %th= sort_link @q, :phone
      %tbody
        - @users.each do |user|
          %tr
            %td= user.id
            %td= link_to user.full_name, edit_backstage_user_path(user)
            %td= mail_to user.email, user.email, encode: 'javascript'
            %td= user.phone
