= simple_form_for event do |f|
  %fieldset
    = f.association :lab
    - if @event.image.present?
      = image_tag @event.image, width: 100


    = f.input :name

    = f.input :all_day

    .row
      .columns.large-6
        = f.input :starts_at, minute_step: 5
      .columns.large-6
        = f.input :ends_at, include_blank: true


    = f.label :image
    %input{:type => "filepicker-dragdrop", :"data-fp-multiple" => true, :name => "event[image]", :value => @event.image }
    = f.input :details


  = f.submit class: 'button'