.row
  .columns.large-4
    .filters
      Filter by region
  .columns.large-8
    - @events.each do |event|
      .row
        .columns.large-12
          .day
            %h4= event.starts_at.stamp("2nd August, 2013")

      = content_tag_for :div, event, class: 'row' do
        .columns.large-12
          .image
            = holder_tag 80
          .details{style: "float: left"}
            %h5= link_to event, event
            at
            = link_to event.lab, event.lab