= Time.zone
.row
  .large-12.columns
    .row
      .large-4.columns
        %h1= @event
        at
        = link_to @event.lab, @event.lab
        added by
        = link_to @event.creator, @event.creator
        = link_to "Edit Event", edit_event_path(@event), class: 'button' if @event.updatable_by? current_user

        = image_tag @event.image

        = @event.starts_at.stamp("13:30 on 11th August 2013")

        = simple_format @event.details

        %h4 Other events at #{@event.lab}
        - @event.lab.events.each do |event|
          %ul
            %li= link_to event, event