- unless lab.tools.empty?
  .row.equipment#equipment{"data-magellan-destination" => "equipment"}
    .columns.large-12
      %h4 Lab Facilities
  .row
    .columns.large-12
      -# %fieldset
      %ul.large-block-grid-4.small-block-grid-2.facilities
        - Facility.all.each do |facility|
          %li
            .facility{ class: ('active' if @lab.facility_ids.include? facility.id) }
              = image_tag facility.icon
              = facility
  .row
    .columns.large-8
      %h5 Equipment and Machinery
      %ul.large-block-grid-3.tools

        - lab.tools.each do |tool|
          %li.tool
            %ul.clearing-thumbs.clearing-feature{"data-clearing" => true}
              %li.clearing-featured-img
                = cropped_image_tag tool.photo, "400x300"
                .details
                  .name= tool.name
                  = simple_format tool.description

