.row
  .columns.large-10.search-box.large-centered
    .row
      .columns.large-8.small-7
        = search_form_for @q do |f|
          = f.text_field :name_or_city_cont, placeholder: "Search..."
      .columns.large-4.small-5.text-right
        %ul.button-group.radius.even-2
          %li
            = link_to labs_path, class: "button #{'inactive' unless action_name == 'index'}" do
              = fa_icon "list"
              List
          %li
            = link_to map_labs_path, class: "button #{'inactive' unless action_name == 'map'}" do
              = fa_icon "globe"
              Map
