= search_form_for @q do |f|
  - if action_name == 'index' and !@continents.empty?
    %fieldset
      %legend
        = fa_icon "globe"
        = link_to "Region", map_labs_path
      #map{"data-lat" => 51.505, "data-lng" => -0.09, "data-zoom" => 2}
      %table
        %thead
          %tr.all
            %td
              %label
                = check_box_tag "q[region_in][]", '', (params[:q].blank? or params[:q][:region_in].reject(&:blank?).empty?)
                All
            %td.hint= @labs.total_count
        %tbody

  %fieldset
    %legend
      = fa_icon "cogs"
      Equipment
    %table
      %tbody

  %fieldset
    %legend
      = fa_icon "building"
      Fab Lab Type
    %table
      %thead
        %tr.all
          %td
            %label
              = check_box_tag "q[kind_in][]", '', (params[:q].blank? or params[:q][:kind_in].reject(&:blank?).empty?)
              All
          %td.hint= @labs.try(:total_count) ? @labs.total_count : @labs.size
      %tbody

  -# = f.submit "Filter", class: 'button expand filter-button'
= link_to new_lab_path, class: 'button expand' do
  = fa_icon "plus", text: "Add a Lab"