- if lab.humans.any?
  .row.staff#people
    .columns.large-12
      %fieldset
        %legend
          Staff
          -# %span.count= @lab.humans.count
        %ul.large-block-grid-5.small-block-grid-2.people
          - @lab.humans.each do |human|
            = content_tag_for :li, human do
              - if human.user
                = link_to human.user.present? do
                  = image_tag human.avatar, width: 90, height: 90
                  .name= human
              - else
                .name= human

              .role.hint= human.details
              .email= link_to human.email, human.email
              .phone= human.phone
