- title "Labs"
= render "header"

.row
  .columns.large-3.sidebar.hide-for-small
    = render "sidebar"
  .columns.large-9.labs

    #toggle-contacts
      = link_to "#" do
        = fa_icon "eye-open", text: "Toggle All Contacts"

    - @lab_countries.sort.each do |country, labs|
      .country{id: Country.new(country.upcase).name.parameterize}
        .flag-bar
          .flag{class: "flag-#{country}"}
          = Country.new(country.upcase).name
        %ul.large-block-grid-2.small-block-grid-1
          = render labs
