= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"
.row
  .columns-12.large
    %h1 Add a Fab Lab
    = simple_form_for @lab do |f|

      = render 'labs/form_modules/basic_details', f: f
      = render 'labs/form_modules/relationships', f: f
      = render 'labs/form_modules/location', f: f
      -# = render 'labs/form_modules/opening_hours', f: f
      = render 'labs/form_modules/tools', f: f

      %fieldset
        %legend= fa_icon "comments", text: "Anything else?"
        = f.input :application_notes, hint: "If you would like to add any more details or comments to your application then please include them here.", input_html: { rows: 5 }

      .actions
        = f.submit "Add Lab", class: 'button large'
