.row
  .large-12.columns
    = form_for @lab do |f|
      - if @lab.errors.any?
        .error_messages
          %h2 Form is invalid
          %ul
            - for message in @lab.errors.full_messages
              %li= message
      .field
        = f.label :name
        = f.text_field :name
      .row
        .columns.large-6
          .field
            = f.label :address
            = f.text_area :address
        .columns.large-6
          .field
            = f.label :address_notes
            = f.text_area :address_notes
      .actions
        = f.submit "Add Lab", class: 'button large'
