= form_for @lab do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_area :address
  .field
    = f.label :address_notes
    = f.text_area :address_notes
  .actions
    = f.submit "Add Lab"
