.row
  .columns.large-12
    #head
      -# #image
      -#   = image_tag @lab.avatar, width: 110, height: 110
      .details
        %h1= @lab.name
        .country.hint
          = fa_icon "map-marker"
          = @lab.short_address
        - if @lab.phone.present?
          .phone.hint
            = fa_icon "phone"
            = @lab.phone
        -# .hours.hint
        -#   = fa_icon "time"
        -#   Open Today 10:00-14:00

    .buttons
      = link_to "Edit", edit_lab_path(@lab), class: 'button small' if @lab.updatable_by? current_user
      - if authority_user.admin?
        = link_to "Edit Backstage", edit_backstage_lab_path(@lab), class: 'button small'

.row
  .columns.large-12
    - if @lab.parent.present?
      Supernode: #{link_to @lab.parent, @lab.parent}
    - if @lab.has_children?
      Subnodes:
      %ul
        - @lab.children.each do |child|
          %li= link_to child, child

.row
  .columns.large-12
    %div#sticky{"data-magellan-expedition" => "fixed"}
      %dl.sub-nav
        - @sections.each do |section|
          %dd{"data-magellan-arrival" => section}
            = link_to section.titleize, "##{section}"

= render 'description', lab: @lab

- @sections.each do |section|
  = render section, lab: @lab

-# %h4 History
-# - @lab.versions.each do |version|
-#   = User.find(version.whodunnit)
