.row
  .columns.large-12
    = link_to "Edit", edit_lab_path(@lab), class: 'button' if true_current_user.can_update?(@lab)

    %h1= @lab.name
    = simple_format @lab.address
    = @lab.address_notes
    = @lab.country


.row
  .columns.large-12
    %h5 Humans
    - @lab.humans.each do |human|
      = link_to human.user, human.user

-# %h4 History
-# - @lab.versions.each do |version|
-#   = User.find(version.whodunnit)
