.top{style: ("background-image: url(#{@lab.avatar_image})" if @lab.avatar.present?) }
  .fade
  .row#lab-name
    .columns.large-12
      = title @lab.name
      - if @lab.supernode?
        %span.extra= fa_icon "sitemap", text: "Supernode"


%div#sticky{"data-magellan-expedition" => "fixed"}
  .row
    .columns.large-12
      %dl.sub-nav
        %dd.active{"data-magellan-arrival" => 'details'}
          = link_to "Details", "#details"
        - @sections.each do |section|
          %dd{"data-magellan-arrival" => section}
            = link_to section.titleize, "##{section}"
        - if can? :update, @lab
          %dd.right
            = link_to edit_lab_path(@lab) do
              = fa_icon "edit", text: "Edit Lab"

        - if current_user and current_user.admin?
          %dd.right
            = link_to edit_backstage_lab_path(@lab) do
              = fa_icon "edit", text: "Edit Backstage"

          %dd.right
            = link_to claim_lab_path(@lab) do
              = fa_icon "edit", text: "Claim Ownership of this Lab"

= render 'description', lab: @lab

- @sections.each do |section|
  = render section.parameterize.gsub('-','_'), lab: @lab

-# %h4 History
-# - @lab.versions.each do |version|
-#   = User.find(version.whodunnit)
