.top#details{"data-magellan-destination" => "details", :style => ("background-image: url(#{@lab.avatar_image})" if @lab.avatar.present?) }
  .fade
  .row#lab-name
    .columns.large-12
      = title @lab.name
      - if @lab.supernode?
        %span.extra= fa_icon "sitemap", text: "Supernode"

%div#sticky{"data-magellan-expedition" => "fixed"}
  .row
    .columns.large-12
      %dl.sub-nav
        %dd.active{"data-magellan-arrival" => 'details'}
          = link_to "Details", "#details"
        - @sections.each do |section|
          %dd{"data-magellan-arrival" => section}
            = link_to section.titleize, "##{section}"

        - if current_user
          %dd.right
            - if current_user.admin?
              = link_to edit_backstage_lab_path(@lab) do
                = fa_icon "edit", text: "Edit Backstage"
            - elsif can? :update, @lab
              = link_to edit_lab_path(@lab) do
                = fa_icon "edit", text: "Edit Lab"

          -# - if can? :claim, @lab
          -#   %dd.right
          -#     = link_to new_lab_claim_path(@lab) do
          -#       = fa_icon "edit", text: "Claim Ownership of this Lab"

-# .row
-#   .columns.large-12
-#     -# = link_to "Claims", lab_claims_path(@lab)
-#     - if can? :create, Claim
-#       = link_to "Claim this lab", new_lab_claim_path(@lab), class: 'button'

= render 'description', lab: @lab

- if @sections
  - @sections.each do |section|
    = render section.parameterize.gsub('-','_'), lab: @lab

-# %h4 History
-# - @lab.versions.each do |version|
-#   = User.find(version.whodunnit)
