- title @lab.name

.row.collapse{style: 'padding-top: 10px;'}
  .columns.small-3.large-2{style: 'padding: 10px 0.9em 10px 10px'}
    = image_tag @lab.avatar #"fab.png"

  .columns.small-9.large-10
    #head
      -# #image
      -#   = image_tag @lab.avatar, width: 110, height: 110
      .details
        %h1= @lab.name
        .country.hint
          = fa_icon "map-marker"
          = @lab.short_address
        - if @lab.phone.present?
          .phone.hint
            = fa_icon "phone"
            = @lab.phone
        -# .hours.hint
        -#   = fa_icon "time"
        -#   Open Today 10:00-14:00

    .buttons
      - if can? :update, @lab
        = link_to edit_lab_path(@lab), class: 'button small' do
          = fa_icon "edit", text: "Edit Lab"

      - if authority_user.admin?
        = link_to edit_backstage_lab_path(@lab), class: 'button small success' do
          = fa_icon "edit", text: "Edit Backstage"

.row
  .columns.large-12
    - if @lab.parent.present?
      Supernode: #{link_to @lab.parent, @lab.parent}
    - if @lab.has_children?
      Subnodes:
      %ul
        - @lab.children.each do |child|
          %li= link_to child, child

-# .row
-#   .columns.large-12
-#     %div#sticky{"data-magellan-expedition" => "fixed"}
-#       %dl.sub-nav
-#         - @sections.each do |section|
-#           %dd{"data-magellan-arrival" => section}
-#             = link_to section.titleize, "##{section}"

= render 'description', lab: @lab

- @sections.each do |section|
  = render section, lab: @lab

-# %h4 History
-# - @lab.versions.each do |version|
-#   = User.find(version.whodunnit)
