!!! 5
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }/
  %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=7" }/
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }/

  %title= content_for?(:title) ? yield(:title) : "Fab Foundation World"

  = stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Cabin"
  = javascript_include_tag "vendor/custom.modernizr"
  = csrf_meta_tag

%body

%header.contain-to-grid
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1= link_to "Fab Foundation", root_path
      %li.toggle-topbar.menu-icon
        %a{:href => "#"} menu
    %section.top-bar-section
      / Left Nav Section
      %ul.left
        %li.divider
        %li.active= link_to "Labs", labs_path
        - if true_current_user.can_create?(Lab)
          %li.divider
          %li.active= link_to "Add a lab", new_lab_path
        %li.divider
        %li= link_to "Events", events_path
        %li.divider
      %ul.right
        %li.divider
        -  if current_user
          %li= link_to current_user, current_user

          - if current_user.admin?
            %li= link_to "Backstage", backstage_root_path
          %li= link_to "Log out", logout_path
        - else
          %li= link_to "Sign In", signin_path

#main{role: 'main'}
  - flash.each do |name, msg|
    = content_tag :div, msg, :id => "flash_#{name}"

  = yield
  = javascript_include_tag "application"

-# or
-#   \#{link_to "log in", login_path}.