<!DOCTYPE html>
<html>
<head>
  <title>Fabfoundation</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Fab Foundation", root_path %>
<%= link_to "Labs", labs_path %>
<%= link_to "Events", events_path %>

<% if current_user %>
  Signed in as <%= current_user.email %>.
  <%= link_to "Add a lab", new_lab_path %>
  <% if current_user and current_user.admin? %>
    <%= link_to "Backstage", backstage_root_path %>
  <% end %>
  <%= link_to "Log out", logout_path %>
<% else %>
  <%= link_to "Sign up", signup_path %> or
  <%= link_to "Sign in", signin_path %>.
<% end %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<div id="main" role="main">
<%= yield %>
</div>
</body>
</html>
