!!! 5
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }/
  %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=7" }/
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }/
  %title= content_for?(:title) ? "#{yield(:title)}, Fab Foundation" : "Fab Foundation"

  = stylesheet_link_tag "application"
  = javascript_include_tag "vendor/custom.modernizr", "application"
  = csrf_meta_tag

%body.sessions
  .row
    .columns.large-12.text-right.account-yet
      %p= yield("account-yet")
  .row
    .columns.large-12.small-3.small-centered.large-centered.text-center
      = link_to root_path do
        = image_tag "small-fab.png", id: 'small-fab'
  .row
    .columns.large-5.large-centered
      - flash.each do |name, msg|
        = content_tag :div, "data-alert" => true, :id => "flash_#{name}", :class => "alert-box" do
          = msg
          = link_to "×", "#", class: 'close'

  = yield

  :javascript
    (function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/trbf0wTd05yUduFF9TyoxA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()
  :javascript
    UserVoice = window.UserVoice || [];
    UserVoice.push(['showTab', 'classic_widget', {
      mode: 'full',
      primary_color: '#cc6d00',
      link_color: '#007dbf',
      default_mode: 'support',
      forum_id: 220331,
      tab_label: 'Feedback & Support',
      tab_color: '#cc6d00',
      tab_position: 'bottom-left',
      tab_inverted: false
    }]);